



@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
  --carbon-tone-100: #161616;
  --carbon-tone-90: #262626;
  --carbon-tone-80: #393939;
  --carbon-tone-70: #525252;
  --carbon-tone-20: #e0e0e0;
  --carbon-tone-10: #f4f4f4;
  --carbon-button: #0f62fe;
  --carbon-teal: #9ef0f0;
  --carbon-red: #ff8389;
  --carbon-purple: #d4bbff;
  --carbon-yellow: #fddc69;
  --carbon-bronze: #8e6a00s;
  --section-width: 90vw;
  --carbon-link: #78a9ff;
  --carbon-visited-link: #be95ff
  

}


html, body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	background-color:var(--carbon-tone-100);
}

body, th, td, input, textarea, select, option, p, div {
	font-family: "IBM Plex Sans", sans-serif;
}

header, section, footer {
  margin: 0 auto 0 auto;
}

section, footer {
	max-width: var(--section-width);
}


h2 {
	font-size: 2.1rem;
}
h3 {
	font-size: 1.5em;
}

header {
    background: var(--carbon-tone-100);
    height: 3rem;
    color: whitesmoke;
    font-size: 1rem;
    padding: 1rem 1rem 0 1rem;
}

header h1 {






}

h1, h2, h3, h4, p {
	margin:0;
}


h2 {
	letter-spacing: -1px;
}

h2 a {
	color: #0A000A;
}

h3 {
	font-size: 1.5em;
}

p, ul, ol {

}

.header-link {
	text-decoration: none;
	color: whitesmoke;
	padding: 1rem;
}

.header-icon {
	filter: invert(100%);
}

input[type=submit] {
	color: var(--carbon-tone-10);
	background-color: var(--carbon-button);
	align-items:center;
	border:0;
	border-radius:0;
	box-sizing:border-box;
	cursor:pointer;
	display:inline-flex;
	flex-shrink:0;
	font-family:inherit;
	font-size:100%;
	font-size:.875rem;
	font-weight:400;
	justify-content:space-between;
	letter-spacing:.16px;
	line-height:1.28572;
	margin:0;
	max-width:20rem;
	min-height:3rem;
	outline:none;
	padding:calc(.875rem - 3px) 63px calc(.875rem - 3px) 15px;
	position:relative;
	text-align:left;
	vertical-align:initial;
	vertical-align:top

}

.button {
	color: var(--carbon-tone-10);
	background-color: var(--carbon-button);
	align-items:center;
	border:0;
	border-radius:0;
	box-sizing:border-box;
	cursor:pointer;
	display:inline-flex;
	flex-shrink:0;
	font-family:inherit;
	font-size:100%;
	font-size:.875rem;
	font-weight:400;
	justify-content:space-between;
	letter-spacing:.16px;
	line-height:1.28572;
	margin:0;
	max-width:20rem;
	min-height:3rem;
	outline:none;
	padding:calc(.875rem - 3px) 63px calc(.875rem - 3px) 15px;
	position:relative;
	text-align:left;
	vertical-align:initial;
	vertical-align:top
}

footer {
	clear: both;

	background-color: var(--carbon-tone-100);
}

.d-flex {
	display: flex;
}

.txt-accent-teal {
	color: var(--carbon-teal);
}
.txt-accent-purple {
	color: var(--carbon-purple);
}

.bold {
	font-weight: 700;
}







header form {
	float: right;
    padding-top: 1.4em;
    margin-right: 4em;
}

header form .text-input{
	border: 1px solid;
	width: 10em;
	height: 1.8em;
	padding-left: 3px
}

header form .submit {
    width: 7em;
    height: 1.8em;
}

header ul {
	float: right;
	margin:0;
}

header li {
	display: inline;
}

li a{
	color: inherit;
  	text-decoration: inherit; 
}

header img {
	vertical-align: middle;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #282828;
    min-width: 4em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 4;
    cursor: pointer;
    margin: 0 -60;
}

.dropdown:hover .dropdown-content {
    display: block;
}





.index-contain {
	height: 100vh;
	background: linear-gradient(to right, black , rgba(0,0,0,0)), url(images/cybersecurity-awareness.png) no-repeat fixed left top;
	background-size: cover;
}

.index-contain header, .index-contain footer {
	background-color: unset;
	margin-left: 1.7em;
	color: var(--carbon-tone-10);
}

.index-contain header h1 {
	width: 420px;
	margin-top: 17rem;
	margin-bottom: 0.5rem;
	color: var(--carbon-tone-10);
	font-size: 1.5rem;
}

.index-contain header h1 span{
	font-weight: 200;
}

.index-contain header a {
	width: 420px;
	display: inline-block;
	position: absolute;
	left: 2.7em;

}

.index-contain header a:visited {
	color: var(--carbon-link);
}

.index-contain header a:hover {
	text-decoration: none;
}

.index-contain header form {
		float: left;
		padding-top: 1.4em;
		margin-right: 4em;
		margin-top: 1rem;
		width: 420px;
}
.login-banner {
	height: calc(90vh - 142px);
}
.index-contain input[type="text"], .index-contain input[type="password"] {
	border: none;
	border-bottom: 1px solid var(--cds-ui-04,#8d8d8d);
	box-sizing: border-box;
	color: var(--carbon-tone-20);
	font-family: inherit;

	font-size: var(--cds-body-short-01-font-size,.875rem);
	font-weight: var(--cds-body-short-01-font-weight,400);
	height: 2.5rem;
	letter-spacing: var(--cds-body-short-01-letter-spacing,.16px);
	line-height: var(--cds-body-short-01-line-height,1.28572);
	margin: 0;
	outline: 2px solid #0000;
	outline-offset: -2px;
	padding: 0 1rem;
	transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);
	vertical-align: initial;
	width: 100%;
	background-color: var(--carbon-tone-90);
	margin-bottom: 7px;
}






section.banner {
	clear:both;
	display: flex;
	justify-content: space-between;
    max-width:100%;
    position: relative;
    color:var(--carbon-tone-10);
	align-items: center;
    z-index: 1;

    padding: 2rem;
    margin-bottom: 1rem;
}

section.banner-noimg{
	clear:both;
    height: 300px;
    background-color: #718ce3;
    position: relative;
    color:white;
}

.banner div{
    width:16em;
    display:inline-table;
    top: 20%;
    position:relative;
}
article.banner-achievements > div {
	border-right: 2px solid var(--carbon-tone-70);
}
article.banner-achievements > div:last-child {
	border-right: none;
}

.banner-noimg div{
    width:33%;
    display:inline-table;
    top: 20%;
    position:relative;
    text-align:center;
}

.banner .badge{
	position: absolute;	
	left: 2em;
}

.banner h1 {
	font-size: xx-large;
	margin: 0;
}

article.banner-rank {
	bottom: 0;
}

article.banner-achievements {
    bottom: 0;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 25px;
}

.banner-achievements h2 {
	font-size: 40px;
	font-weight: normal;
	padding: .2em;
}


article.signup {
	width: 95%;
	text-align:right;
}

.signup h1, .signup p, .signup form{
	padding-right: 5%;
	color:white;
}

.signup h1 {
	padding-top: 4em;
}

.signup p {
	margin-bottom: 2em;
}

.signup form {
	float: right;
    display: block;
    font-size: larger;
}

.signup input{
	margin: 0 0 1% 30%;
	width: 20em;
}

.signup form .su-text-input {
	height: 2.5em;
	padding: 3px
}

.signup input[type="submit"] {
    height: 3em;
    vertical-align: bottom;
    color: #fff;
}

article.blur-img {
	filter: contrast(30%) brightness(140%);
	-webkit-filter: contrast(30%) brightness(140%);
	height: 500px;

	position: relative;
	max-width: 1100px;
	margin-top: -20em;
	z-index: -1
}


article.user-profile{
	color: var(--carbon-tone-10);
}

.user-profile .info-text {
	display: flex;
	justify-content: space-between;
}

.user-profile #edit-profile{
	float: right;
    display: block;
	margin: 1em 4em 0 0;
	width: 8em;
	height: 2em;
}

.user-profile #next-challenge{
	margin-top: 1em;
	width: 17em;
	height: 2.5em;
}

.user-profile img {
	margin: 3em 0 1em 0em;
}

.user-profile h2 {
	font-size: 25px;
	font-weight: normal;
}



article.academy {
	text-align:center;
	padding-top: 5em;
}

.academy h1, .academy img {
	display: inline;
	vertical-align: middle;
	
}

.academy h1 {
	font-size: 3.5em;
	font-weight: normal;
	padding: 0 0.5em;
}

.academy img {
	position: relative;

}






section.platform-info {
	color: DimGray;
	text-align:right;
	clear:both;
	text-align:center;
	font-family: "Helvetica Neue", Helvetica Arial, "Lucida Grande", sans-serif;
}

.platform-info h2{
	padding: 2em 0 1em 0;
}

.platform-info p{
	font-size: 11px;
	font-weight: bold;
}

.platform-info iframe{
	float:right;
	border: 0px;
	margin: 0 9% 1% 2%;
	
}

section.platform-info .profile{
	width: 19em;
	background: #f0f2f5;
	display: inline-table;
	margin: 20px 15px 70px 15px;
	position: relative;
	padding-bottom: 20px;
	cursor: pointer;
}

section.platform-info .teamIntro{
	box-sizing: border-box;
    height: 20em;
    padding: 0 5em 0 5em;
}

section.platform-info h3 {
	padding: 5px;
}

section.platform-info h4{
	margin: 0 0 1em 0;
	font-size: 17px;
	font-weight: normal;
}

section.platform-info h2 {
	font-size: 23px;
	-webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: normal;
}

section.platform-info img {
	height: 128px;
    width: 128px;
    border: 0px solid;
    margin-top: -5em;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}





section.admin {
	color: DimGray;
	clear:both;
	text-align:center;
	padding: 1em 0 5em 0;
	line-height: 190%;
	height: 100%;
	display: table;
}

.disabled{
	background-color: #f0f2f5 !important;
}
.enabled{
	background-color: #ffad33 !important;
}
.error{
	background-color: #fc4535 !important;
}

.admin div {
	float: left;
	margin: 50px 30px 0px 30px;
    width:400px;
    padding: 10px;
    background-color: #f0f2f5;
    display: table;
    position: relative;
    cursor: pointer;
}

.admin img {
	vertical-align: middle;
	display: table-cell;
    width: 70px;
    height: 70px;
}

article.before-vuls {
	padding: 0 5em 0 5em;
}

.admin h3 {
	vertical-align: middle;
	display:table-cell;
	font-size: 17px;
}

.before-vuls h2 {
	margin-bottom: 1em;
}





section.vulnerabilities {
	background-color: var(--carbon-tone-90);
	color: var(--carbon-tone-10);
	clear:both;
	padding: 1em 0 5em 0;
	line-height: 190%;
	max-width: var(--section-width);
	margin-top: 4vw;
}

.vulnerabilities div {
    width:19em;
    background: var(--carbon-tone-80);
    display:inline-table;
    margin: 175px 30px 0px 30px;
    position:relative;
    cursor: pointer;
}

.vulnerabilities .large-vul-contain {
		display: flex;
		justify-content: space-between;
		width: 92%;
		flex-wrap: wrap;
		background: unset;
		margin: 0 auto;
		padding: 2em 0;
}

.vulnerabilities .large-vul-div {
	padding: 1em;
	margin: 1.5em 1em;
	width: 22em;
}

.small-vul-div {
	height:17em;
}

.vulnerabilities input {
	height: 4em;
}

.status-icon {
	position: absolute;
	width: 24px;
	left: 25%;
	top: 40%;
}

.gold-star {
	filter: invert(89%) sepia(16%) saturate(1424%) hue-rotate(344deg) brightness(102%) contrast(98%);
}

.silver-star {
	filter: invert(75%);
}

.bronze-star {
	filter: invert(32%) sepia(89%) saturate(978%) hue-rotate(25deg) brightness(99%) contrast(103%);
}

.complete {
	filter: invert(25%) sepia(94%) saturate(3356%) hue-rotate(217deg) brightness(102%) contrast(100%);
}

.incomplete {
	filter: invert(100%);
}

.purple-tone {
	filter: invert(76%) sepia(17%) saturate(1444%) hue-rotate(206deg) brightness(101%) contrast(104%);
}

.vulnerabilities .logos {
	height: 40px;
	width: 40px;
	filter: invert(100%);
	float: right;  
}

.vulnerabilities h1, .vulnerabilities h2, .vulnerabilities h3, .vulnerabilities h4 {
	font-weight: normal;
}

.vulnerabilities h1 {
	font-size: 28px;
	margin-bottom: 1rem;
}

.vulnerabilities h2:first-child {
	font-size: 17px;
	border-bottom: 1px solid var(--carbon-tone-70);
	padding: 0 28px 15px;
	text-align: left;
	font-weight: 600;
	letter-spacing: 0;
}

.vulnerabilities h2 {
	font-size: 23px;
}

.vulnerabilities h3 {
	margin: 0.5em 0 1em 0;
	font-size: 17px;
}

.vulnerabilities h4{
	margin: 0 0 1em 0;
	font-size: 17px;
}

.foot-text{
	margin-top: 4em;
}

article.before-vuls {
	padding: 0 5em 0 5em;
}

.before-vuls h2 {
	margin-bottom: 1em;

}





section.lessons{
	color: var(--carbon-tone-10);
	clear:both;
	padding: 3em 0 5em 0;
	line-height: 190%;
	display: flex;
	flex-direction: column-reverse;

}

.lesson-contain {
	justify-content: space-between;
}

.lesson {
	min-height: 50vh;
}

article.lessons-list{
	width: 73%;
	align-self: flex-end;
}

.lessons-list img {
	width: 40px;
	height: 40px;
	filter: invert(100%);
}

.lessons-list ul{
	padding: 0 1em;
}

.lessons-list li{
	list-style-type: none;
	padding-top: 1em;
}

article.lesson, article.ranking, section.player-team-stats, section.player-team-chart {
	background-color: var(--carbon-tone-90);
	padding: 2em;
	color: var(--carbon-tone-10);
}

.lesson *{
	color: var(--carbon-tone-10);
}

article.lesson{
	float:left;
	width: 70%;
	min-width: 50vw;
	flex-basis: fit-content;
	text-align:center;
	padding-right: 2em;
	margin-left: 17px;
}
.lesson a{
		border: 0;
		box-sizing: border-box;
		display: inline-flex;
		font-family: inherit;

		font-weight: var(--cds-body-short-01-font-weight,400);
		letter-spacing: var(--cds-body-short-01-letter-spacing,.16px);
		line-height: var(--cds-body-short-01-line-height,1.28572);
		margin: 0;
		outline: none;
		padding: 0;
		text-decoration: none;
		transition: color 70ms cubic-bezier(.2,0,.38,.9);
		vertical-align: initial;

	color: var(--carbon-link);	
}
.lesson a:visited {
	color: var(--carbon-visited-link);
}
.lesson a:hover {
	text-decoration: underline;
}

.lesson input[type="text"] {
	border: 1px solid;
	width: 30em;
}
.lesson .levelText {
	width: 65%;
}
.lesson form#solutionInput {
	margin-top: 1rem;
}

article.ranking{
	width: 20%;
}

.ranking h2 {
	font-weight: 300;
}

.ranking > div {
	margin-top: 3em;
}

.ranking-stars {
	display: flex;
	flex-direction: column;
	
}

.ranking div > .star-stat {
	display: inline-table;
	margin-right: 33px;
}

.star-stat span:last-child {
	display: block;
}

.ranking .status-icon {
	position: initial;
	height: 16px;
}

.lesson input[type="text"] {
	border: none;
	border-bottom: 1px solid var(--cds-ui-04,#8d8d8d);
	box-sizing: border-box;
	color: var(--carbon-tone-20);
	font-family: inherit;

	font-size: var(--cds-body-short-01-font-size,.875rem);
	font-weight: var(--cds-body-short-01-font-weight,400);
	height: 2.5rem;
	letter-spacing: var(--cds-body-short-01-letter-spacing,.16px);
	line-height: var(--cds-body-short-01-line-height,1.28572);
	margin: 0;
	outline: 2px solid #0000;
	outline-offset: -2px;
	padding: 0 1rem;
	transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);
	vertical-align: initial;
	width: 100%;
	background-color: var(--carbon-tone-80);
	margin-bottom: 7px;
}

.lesson input[type="password"] {
	border: none;
	border-bottom: 1px solid var(--cds-ui-04,#8d8d8d);
	box-sizing: border-box;
	color: var(--carbon-tone-20);
	font-family: inherit;

	font-size: var(--cds-body-short-01-font-size,.875rem);
	font-weight: var(--cds-body-short-01-font-weight,400);
	height: 2.5rem;
	letter-spacing: var(--cds-body-short-01-letter-spacing,.16px);
	line-height: var(--cds-body-short-01-line-height,1.28572);
	margin: 0;
	outline: 2px solid #0000;
	outline-offset: -2px;
	padding: 0 1rem;
	transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);
	vertical-align: initial;
	width: 100%;
	background-color: var(--carbon-tone-80);
	margin-bottom: 7px;
}

.lesson .title {
	font-size: 1.5rem;
}

.lesson #levelForm em, .lesson #solutionInput em {
	display: block;
}







section.graphic-flow{
	color: DimGray;
	clear:both;
    height: 1200px;
    width:100%;
    background-color: #e8e9ec;
    position: relative;
    text-align:center;
    
}

.graphic-flow h2{
	padding-top: 3em;
	font-size: 38px;
	font-weight: normal;
}

.graphic-flow hr{
	margin-top: 8em;
	padding: 3em 0;
	border-right:2px;
	width: 2px;
	height: 700px;
	position:absolute;
	margin-left:50%
}

.graphic-flow div{
	width: 26em;
	margin: 0 13em;
}

.fleft{
	float:left;
	text-align: right;
}

.fright{
	float:right;
	text-align: left;
}








a:hover{
	cursor: pointer;
}


.errorMessage {
	padding: 10px 10px 10px 10px;
	background: #FFFFFF;
	border-style:ridge;
	border-width:5px;
	border-color:#E42217;
}

.errorAlert {
	background: #E42217;
	color:#FFFFFF;
	padding-left = 10px;
}

.successAlert {
	background: #7B55B4;
	color:#FFFFFF;
	padding-left = 10px;
}

.title {
	margin: 0;
	padding-bottom: 5px;
	border-bottom: 2px solid #a6a6a6;
}

.lesson .title {
	border: none;
}

#sidebar {
	width: 250px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
}

#sidebar li ul {
	padding: 15px 15px;
}

#sidebar li li {
	border-bottom: 1px dotted #FFFFFF;
	padding-left: 15px;
}

#sidebar h2 {
	margin: 0;
	padding: 10px 0 0 40px;
	height: 40px;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
}

#searchResults {
	width: 100%;
}

#searchResults li { 
	cursor: pointer; 
	cursor: hand;
	border-bottom: 1px solid #d4d4d4;
    padding-left: 5px;
    padding-right: 5px;
    width: 90%;
}



.menuIcon{
    position: relative;
    padding-left: 0.05em;
    font-size: 3em;
    display: none;
    padding-top: 5px;
}

.menuButton {
	display: block;
	border-bottom: 3px solid #a6a6a6;
	background: #D4D4D4;
	padding: 5px 5px;
	border-radius: 5px;
	color: black;
	font-size: 1.5em;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	margin-bottom: 5px;
   }
   
.menuButton:hover {
   border-top-color: #CC99FF;
   background: #BFBFBF;
   }
.menuButton:active {
   border-top-color: #8660BF;
   background: #72C5ED;
   }
   
   .scoreBar {
	background-color: #5F9FBE;
	height: 30px;
	position: relative;
	font-size: 25px;
	font-weight: bold;
	padding-left: 5;
	vertical-align: middle;
	padding-top: 5;
	border: white;
	margin: 0 0 3px 0;
	min-width: 240px;
	color: white;
}

.scoreBar:hover {
	background-color: #72C5ED;
	height: 30px;
	position: relative;
	font-size: 25px;
	font-weight: bold;
	padding-left: 5;
	vertical-align: middle;
	padding-top: 5;
	border: white;
	margin: 0 0 3px 0;
	min-width: 240px;
	color: white;
}

.scoreLine{
	display:inline;
	min-width: 100%;
}

.leaderboard{
	min-width: 100%;
}

.graph-contain {
	justify-content: space-between;
	color: var(--carbon-tone-10);
}

.player-team-stats, .player-team-chart {
	margin: 0;
	background-color: var(--carbon-tone-90);
	max-width: unset;
}

.player-team-stats {
	width: 20%;
}

.player-team-stats span.player-stat {
	display: flex;
	justify-content: space-between;
	font-size: 1.15rem;
}

.player-team-stats h2 {
	font-weight: 200;
	color: var(--carbon-tone-20);
}

.player-team-stats .stat-header {
	margin-top: 3rem;
}


.player-team-chart {
	width: 70%;
}

.scoreName{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline;
	position: absolute;
	left: 80px;
	width: 50%
}

.place{
	display: inline; 
	color: #000000;
	min-width:25px;
}

.scoreNumber{
	display: inline; 
	float: right;
	padding-right: 5px;
	padding-top: 2px;
	color: white;
}

.medalContainer {
	display: inline;
}


.goldMedalAmountBubble {
	width: 20px;
	height: 20px;
	box-shadow: 1px 1px 1px gray;
	background-color: gold;
	color: black;
	font-weight: bold;
	font-size: 14px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	margin-left: 5px;
	line-height: 23px;
}

.silverMedalAmountBubble {
	width: 20px;
	height: 20px;
	box-shadow: 1px 1px 1px gray;
	background-color: silver;
	color: black;
	font-weight: bold;
	font-size: 14px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	margin-left: 5px;
	line-height: 23px;
}

.bronzeMedalAmountBubble {
	width: 20px;
	height: 20px;
	box-shadow: 1px 1px 1px gray;
	background-color: #CD7F32;
	color: black;
	font-weight: bold;
	font-size: 14px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	margin-left: 5px;
	line-height: 23px;
}

.informationBox {
	display: block; 
	margin: 0; 
	border-color: #3181ae; 
	border-style: dashed; 
	background-color: #D4D4D4; 
	padding-top:5px; 
	padding-bottom:5px; 
	padding-right:5px; 
	padding-left:5px;
	margin-bottom: 5px;
}

.cheatBox {
	float: right; 
	margin: 0; 
	width: 685px;
	border-color:#a6a6a6;
	border-style:dashed;
	background-color: #D4D4D4;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	padding-left:5px;
	margin-bottom:10px;
}

.moduleSearchBox{
	height: 26px;
	width: 100%;
	padding: 0 12px 0 25px;
	background: white url("images/searchIcon.png") 8px 6px no-repeat;
	border-width: 1px;
	border-style: solid;
	border-color: #BFBFBF #BFBFBF #BFBFBF;
	border-radius: 13px;
	margin-top: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
	-moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
	-ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
	-o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
	box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

#submitResult{
 
}

.levelIframe{
	width: 100%;
	height: 2056px;
}

.levelList{
	max-height: 230px; 
}

#ibm-top {
	background-color: #000;
	height: 21px;
}

#welcome {
	color:#d0d0d0;
	text-align: right;
	padding-right: 20px
}


#welcome a {
	text-decoration: none;
	color:#d0d0d0
}

#welcome a:hover {
	color:#FFF;
}

#bkgrd_header {
	background-image: url(images/bg-pattern-top.png)!important;
}

.tooltipped {
	position:relative;
}

.tooltipped::before{
	position:absolute;
	z-index:1000001;
	display:none;
	width:0;
	height:0;
	color:rgba(0,0,0,0.8);
	pointer-events:none;
	content:"";
	border:5px solid;
}

.tooltipped::after{
	background: rgba(212, 212, 212, 0.8);
    border: 2px solid rgba(168, 120, 239, 0.8);
    border-radius: 3px;
    content: attr(aria-label);
    display: inline-block;
    font: normal normal 11px/1.5 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif";
    letter-spacing: 0.5px;
    padding: 5px 8px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: pre;
    word-wrap: break-word;
    z-index: 1000000;
	-webkit-font-smoothing:subpixel-antialiased;
}

div .contentDiv {
	float: right;
	width: 100%;
	margin: 0;
	padding-left:20px;
	text-align: justify;
}

#levelText {
	
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
	
	header {
		height:135px;
	}
	
	header form{
		text-align: center;
		width: 100%;
		margin-right: 0em;
	}
	
	header h1{
		width: 310px;
		margin: auto;
		float: none;
	}
	
	header ul {
		float: none;
		padding: 5px 0 0 0;
    	margin: auto;
    	text-align: center;
    	-webkit-margin-before: 0em;
	    -webkit-margin-after: 0em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    -webkit-padding-start: 0px;
	}
	
	header li {
		display: inline-block;
	}
	
	article.signup{
		text-align: left;	
		width: 100%;
	}
	
	article.signup h1{
		width: 60%;
		padding-top: 130px;
		padding-bottom: 10px;
		text-align: center;
		margin: auto;

	}
	article.signup p{
		display: none
	}
	
	.signup form{
		padding-right: 35%;
		text-align: center;
	}
	
	.signup input{
		border: 1px solid;
	}
	
	section.platform-info .teamIntro {
	height: 33em;
	}
	
    article.banner-rank{
        height: 3.6em;
    }
}


