<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PcapDecoder</display-name>
  <welcome-file-list>
   <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>202</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>409</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>100</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>201</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>417</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>302</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>504</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>410</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>411</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>301</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>302</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>300</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>204</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>203</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>406</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>304</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>200</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>206</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>402</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>412</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>407</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>413</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>408</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>414</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>416</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>205</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>303</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>101</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>307</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>415</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>305</error-code>
    <location>/errorPages/error.jsp</location>
  </error-page>
</web-app>